body{
    font-family: arial;
    background: #111;
    color: white;
    padding: 20px;
}

.search{
    margin-bottom: 20px;
}

input{
    padding:10px;
    width: 200px;
}

button{
    padding:10px;
    cursor: pointer;
   
}

#result div, #workout div {
    background: #222;
    padding: 10px;
    margin: 10px 0;
}